# Column names in documentation
Types were manually assigned to each variable in the Values Spreadsheet. The values to be translated to NaN are also dependant on this information.  
However, some column names do not match between data and documentation, this will be fixed in the documentations

In [1]:
import pandas as pd
import numpy as np

In [2]:
# To match with available columns in data
census = pd.read_csv('data/raw/Udacity_AZDIAS_052018.csv', sep = ';')

C:\Users\Lucca\AppData\Local\Temp\ipykernel_19388\2853755714.py:2: DtypeWarning: Columns (18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  census = pd.read_csv('data/raw/Udacity_AZDIAS_052018.csv', sep = ';')

In [3]:
census_var_types = pd.read_excel('data/raw/DIAS Attributes - Values 2017.xlsx',\
                                     sheet_name = 'Tabelle1_fixed',\
                                     header = 1,\
                                     usecols = 'B:C')\
                            .dropna(how = 'all')

## Attributes
Attaches column name to data type and NaN Value encoding

In [4]:
dim_columns = pd.read_excel('data/raw/DIAS Attributes - Values 2017.xlsx',
                             sheet_name='Tabelle1',
                             usecols = 'B:F',
                             header=1)

In [5]:
documented_cols = dim_columns['Attribute'].dropna().unique()

In [6]:
cols_not_in_docs = np.setdiff1d(census.columns,documented_cols)

In [7]:
print('Columns in data not found in the docs:\n', cols_not_in_docs)

Columns in data not found in the docs:
 ['AKT_DAT_KL' 'ALTERSKATEGORIE_FEIN' 'ALTER_KIND1' 'ALTER_KIND2'
 'ALTER_KIND3' 'ALTER_KIND4' 'ANZ_KINDER' 'ANZ_STATISTISCHE_HAUSHALTE'
 'ARBEIT' 'CAMEO_INTL_2015' 'CJT_KATALOGNUTZER' 'CJT_TYP_1' 'CJT_TYP_2'
 'CJT_TYP_3' 'CJT_TYP_4' 'CJT_TYP_5' 'CJT_TYP_6' 'D19_BANKEN_DIREKT'
 'D19_BANKEN_GROSS' 'D19_BANKEN_LOKAL' 'D19_BANKEN_REST'
 'D19_BEKLEIDUNG_GEH' 'D19_BEKLEIDUNG_REST' 'D19_BILDUNG' 'D19_BIO_OEKO'
 'D19_BUCH_CD' 'D19_DIGIT_SERV' 'D19_DROGERIEARTIKEL' 'D19_ENERGIE'
 'D19_FREIZEIT' 'D19_GARTEN' 'D19_HANDWERK' 'D19_HAUS_DEKO'
 'D19_KINDERARTIKEL' 'D19_KONSUMTYP_MAX' 'D19_KOSMETIK' 'D19_LEBENSMITTEL'
 'D19_LETZTER_KAUF_BRANCHE' 'D19_LOTTO' 'D19_NAHRUNGSERGAENZUNG'
 'D19_RATGEBER' 'D19_REISEN' 'D19_SAMMELARTIKEL' 'D19_SCHUHE'
 'D19_SONSTIGE' 'D19_SOZIALES' 'D19_TECHNIK' 'D19_TELKO_MOBILE'
 'D19_TELKO_ONLINE_QUOTE_12' 'D19_TELKO_REST' 'D19_TIERARTIKEL'
 'D19_VERSAND_REST' 'D19_VERSICHERUNGEN' 'D19_VERSI_DATUM'
 'D19_VERSI_OFFLINE_DATUM' 'D19_VERSI_ONLINE_DATUM'
 'D19_VERSI_ONLINE_QUOTE_12' 'D19_VOLLSORTIMENT' 'D19_WEIN_FEINKOST'
 'DSL_FLAG' 'EINGEFUEGT_AM' 'EINGEZOGENAM_HH_JAHR' 'EXTSEL992'
 'FIRMENDICHTE' 'GEMEINDETYP' 'HH_DELTA_FLAG' 'KBA13_ANTG1' 'KBA13_ANTG2'
 'KBA13_ANTG3' 'KBA13_ANTG4' 'KBA13_BAUMAX' 'KBA13_CCM_1401_2500'
 'KBA13_GBZ' 'KBA13_HHZ' 'KBA13_KMH_210' 'KK_KUNDENTYP' 'KOMBIALTER'
 'KONSUMZELLE' 'LNR' 'MOBI_RASTER' 'RT_KEIN_ANREIZ' 'RT_SCHNAEPPCHEN'
 'RT_UEBERGROESSE' 'SOHO_KZ' 'STRUKTURTYP' 'UMFELD_ALT' 'UMFELD_JUNG'
 'UNGLEICHENN_FLAG' 'VERDICHTUNGSRAUM' 'VHA' 'VHN' 'VK_DHT4A' 'VK_DISTANZ'
 'VK_ZG11']

## Fixing the most obvious matches with documented informations

In [8]:
d19_name_map = {}

antg_cols_rename = {}

# D19 columns
for i, col in enumerate(cols_not_in_docs):

    if col.startswith('D19') and ('DATUM' not in col) and ('QUOTE' not in col):
        
        d19_name_map[col] = col + '_RZ'

In [9]:
other_cols_rename = {'CAMEO_INTL_2015':'CAMEO_DEUINTL_2015',
                    'SOHO_KZ':'SOHO_FLAG',
                    'KK_KUNDENTYP':'D19_KK_KUNDENTYP',
                    'KBA13_CCM_1401_2500':'KBA13_CCM_1400_2500'}

In [10]:
census.rename(columns = d19_name_map, inplace = True)

census.rename(columns = other_cols_rename, inplace = True)

In [11]:
# Remaining columns
cols_not_in_docs = np.setdiff1d(census.columns,documented_cols)

In [12]:
print('Remaining columns not found in documentation:\n')
sorted(cols_not_in_docs)

Remaining columns not found in documentation:

['AKT_DAT_KL',
 'ALTERSKATEGORIE_FEIN',
 'ALTER_KIND1',
 'ALTER_KIND2',
 'ALTER_KIND3',
 'ALTER_KIND4',
 'ANZ_KINDER',
 'ANZ_STATISTISCHE_HAUSHALTE',
 'ARBEIT',
 'CJT_KATALOGNUTZER',
 'CJT_TYP_1',
 'CJT_TYP_2',
 'CJT_TYP_3',
 'CJT_TYP_4',
 'CJT_TYP_5',
 'CJT_TYP_6',
 'D19_BUCH_CD_RZ',
 'D19_KONSUMTYP_MAX_RZ',
 'D19_LETZTER_KAUF_BRANCHE_RZ',
 'D19_SOZIALES_RZ',
 'D19_TELKO_ONLINE_QUOTE_12',
 'D19_VERSI_DATUM',
 'D19_VERSI_OFFLINE_DATUM',
 'D19_VERSI_ONLINE_DATUM',
 'D19_VERSI_ONLINE_QUOTE_12',
 'DSL_FLAG',
 'EINGEFUEGT_AM',
 'EINGEZOGENAM_HH_JAHR',
 'EXTSEL992',
 'FIRMENDICHTE',
 'GEMEINDETYP',
 'HH_DELTA_FLAG',
 'KBA13_ANTG1',
 'KBA13_ANTG2',
 'KBA13_ANTG3',
 'KBA13_ANTG4',
 'KBA13_BAUMAX',
 'KBA13_GBZ',
 'KBA13_HHZ',
 'KBA13_KMH_210',
 'KOMBIALTER',
 'KONSUMZELLE',
 'LNR',
 'MOBI_RASTER',
 'RT_KEIN_ANREIZ',
 'RT_SCHNAEPPCHEN',
 'RT_UEBERGROESSE',
 'STRUKTURTYP',
 'UMFELD_ALT',
 'UMFELD_JUNG',
 'UNGLEICHENN_FLAG',
 'VERDICHTUNGSRAUM',
 'VHA',
 'VHN',
 'VK_DHT4A',
 'VK_DISTANZ',
 'VK_ZG11']

Some of the columns not in the docs cannot have their meaning infered (by their name) as well unknown values.  
These will be dropped to avoid unmapped empty values skewing distributions.

In [13]:
# Columns not found after manual inspection
not_found_cols = ['AKT_DAT_KL',
                    'DSL_FLAG',
                    'EINGEFUEGT_AM',
                    'EINGEZOGENAM_HH_JAHR',
                    'EXTSEL992',
                    'FIRMENDICHTE',
                    'GEMEINDETYP',
                    'HH_DELTA_FLAG',
                    'KBA13_BAUMAX',
                    'KBA13_GBZ',
                    'KBA13_HHZ',
                    'KOMBIALTER',
                    'KONSUMZELLE',
                    'MOBI_RASTER',
                    'RT_KEIN_ANREIZ',
                    'RT_SCHNAEPPCHEN',
                    'RT_UEBERGROESSE',
                    'STRUKTURTYP',
                    'UMFELD_ALT',
                    'UMFELD_JUNG',
                    'UNGLEICHENN_FLAG',
                    'VERDICHTUNGSRAUM',
                    'VHA',
                    'VHN',
                    'VK_DHT4A',
                    'VK_DISTANZ',
                    'VK_ZG11',
                    'KBA13_ANTG1',
                    'KBA13_ANTG2',
                    'KBA13_ANTG3',
                    'KBA13_ANTG4']

In [14]:
census.drop(columns = not_found_cols, inplace = True)

In [15]:
cols_not_in_docs = np.setdiff1d(cols_not_in_docs, not_found_cols)

In [16]:
print('Remaining columns that can be infered via context:')
cols_not_in_docs

Remaining columns that can be infered via context:

array(['ALTERSKATEGORIE_FEIN', 'ALTER_KIND1', 'ALTER_KIND2',
       'ALTER_KIND3', 'ALTER_KIND4', 'ANZ_KINDER',
       'ANZ_STATISTISCHE_HAUSHALTE', 'ARBEIT', 'CJT_KATALOGNUTZER',
       'CJT_TYP_1', 'CJT_TYP_2', 'CJT_TYP_3', 'CJT_TYP_4', 'CJT_TYP_5',
       'CJT_TYP_6', 'D19_BUCH_CD_RZ', 'D19_KONSUMTYP_MAX_RZ',
       'D19_LETZTER_KAUF_BRANCHE_RZ', 'D19_SOZIALES_RZ',
       'D19_TELKO_ONLINE_QUOTE_12', 'D19_VERSI_DATUM',
       'D19_VERSI_OFFLINE_DATUM', 'D19_VERSI_ONLINE_DATUM',
       'D19_VERSI_ONLINE_QUOTE_12', 'KBA13_KMH_210', 'LNR'], dtype=object)

These columns will be kept

## Information levels
Attaches column name to variable group

In [17]:
att_info = pd.read_excel('data/raw/DIAS Information Levels - Attributes 2017.xlsx',
                         usecols = ['Information level','Attribute'],
                         header = 1,
                         sheet_name = 'info_group')

In [18]:
att_info['Information level'] = att_info['Information level'].fillna(method='ffill')\
                                                            .fillna(method='backfill')

In [19]:
att_info['Information level'].unique()

array(['Person', 'Household', 'Building', 'Microcell (RR4_ID)',
       'Microcell (RR3_ID)', '125m x 125m Grid', 'Postcode ', 'RR1_ID',
       'PLZ8', 'Community'], dtype=object)

In [20]:
att_info['Information level'] = att_info['Information level'].str.strip()

In [21]:
att_info['Information level'].nunique()

10

In [22]:
att_info = att_info[['Information level','Attribute']]

display(att_info)

    Information level             Attribute
0              Person              AGER_TYP
1              Person  ALTERSKATEGORIE_GROB
2              Person             ANREDE_KZ
3              Person         CJT_GESAMTTYP
4              Person     FINANZ_MINIMALIST
..                ...                   ...
308         Community                ARBEIT
309         Community             EINWOHNER
310         Community                   GKZ
311         Community           ORTSGR_KLS9
312         Community              RELAT_AB

[313 rows x 2 columns]

In [23]:
# Fixing the names for 125 grid because in the data they dont have _RZ in their name
# att_info['Attribute'] = att_info['Attribute'].str.replace('_RZ','')

In [24]:
diff_cols = list(np.setdiff1d(census.columns.values, att_info['Attribute'].values))

print(diff_cols)

['ALTERSKATEGORIE_FEIN', 'ALTER_KIND1', 'ALTER_KIND2', 'ALTER_KIND3', 'ALTER_KIND4', 'ANZ_KINDER', 'ANZ_STATISTISCHE_HAUSHALTE', 'CJT_KATALOGNUTZER', 'CJT_TYP_1', 'CJT_TYP_2', 'CJT_TYP_3', 'CJT_TYP_4', 'CJT_TYP_5', 'CJT_TYP_6', 'D19_BANKEN_ANZ_12', 'D19_BANKEN_ANZ_24', 'D19_BUCH_CD_RZ', 'D19_GESAMT_ANZ_12', 'D19_GESAMT_ANZ_24', 'D19_KONSUMTYP_MAX_RZ', 'D19_LETZTER_KAUF_BRANCHE_RZ', 'D19_LOTTO_RZ', 'D19_SOZIALES_RZ', 'D19_TELKO_ANZ_12', 'D19_TELKO_ANZ_24', 'D19_TELKO_ONLINE_QUOTE_12', 'D19_VERSAND_ANZ_12', 'D19_VERSAND_ANZ_24', 'D19_VERSI_ANZ_12', 'D19_VERSI_ANZ_24', 'D19_VERSI_ONLINE_QUOTE_12', 'KBA13_CCM_3000', 'KBA13_CCM_3001', 'KBA13_KMH_210', 'LNR']

Not all variables are described in the Information Levels.

In [25]:
# Removing ID
diff_cols.remove('LNR')

Even though these columns are not assigned to any information group, the majority has a prefix that helps manually assigning them to a group.

In [26]:
grid_cols = ['D19_BUCH_CD_RZ',
            'D19_LETZTER_KAUF_BRANCHE_RZ',
            'D19_LOTTO_RZ',
            'D19_SOZIALES_RZ']

In [27]:
household_cols = ['D19_TELKO_ONLINE_QUOTE_12',
                    'D19_VERSAND_ANZ_12',
                    'D19_VERSAND_ANZ_24',
                    'D19_VERSI_ONLINE_QUOTE_12',
                    'D19_GESAMT_ANZ_12',
                    'D19_GESAMT_ANZ_24',
                    'D19_KONSUMTYP_MAX',
                    'D19_BANKEN_ANZ_12',
                    'D19_BANKEN_ANZ_24',
                    'D19_TELKO_ANZ_12',
                    'D19_TELKO_ANZ_24',
                    'D19_VERSI_ANZ_12',
                    'D19_VERSI_ANZ_24']

### Fixing columns that respect the name structure and/or are in the documentation

In [28]:
new_rows = []

for col in diff_cols:

    if col in household_cols:

        new_val = ('Household', col)

        new_rows.append(new_val)

    if col in grid_cols:

        new_val = ('125m x 125m Grid', col)

        new_rows.append(new_val)

    if col.startswith('KBA13'):

        new_val = ('PLZ8',col)

        new_rows.append(new_val)

    if col.startswith('CJT'):

        new_val = ('Person',col)

        new_rows.append(new_val)

for _, name in new_rows:

    diff_cols.remove(name)

In [29]:
diff_cols

['ALTERSKATEGORIE_FEIN',
 'ALTER_KIND1',
 'ALTER_KIND2',
 'ALTER_KIND3',
 'ALTER_KIND4',
 'ANZ_KINDER',
 'ANZ_STATISTISCHE_HAUSHALTE',
 'D19_KONSUMTYP_MAX_RZ']

In [30]:
np.setdiff1d(diff_cols, census.columns)

array([], dtype='<U26')

Some columns still are to be accounted for. This will be done by manually inspecting each case to check if the columns exist in the dictionary or have problems in their name.

In [31]:
# # Exporting column names for classification (manual)

# with open('data/raw/unaccounted_cols.csv','w', newline='') as file:

#     writer = csv.writer(file, delimiter=';')

#     writer.writerow(['col_name'])

#     for col in diff_cols:

#         writer.writerow([col])

### Building final classification

In [32]:
# Ingesting after manual inspection
diff_cols_remainder = pd.read_csv('data/trusted/unaccounted_cols.csv', sep = ';')

In [33]:
print('Columns unaccounted for:',diff_cols_remainder.shape[0])

Columns unaccounted for: 8

In [34]:
diff_cols_remainder

                     col_name information
0        ALTERSKATEGORIE_FEIN      Person
1                 ALTER_KIND1   Household
2                 ALTER_KIND2   Household
3                 ALTER_KIND3   Household
4                 ALTER_KIND4   Household
5                  ANZ_KINDER   Household
6  ANZ_STATISTISCHE_HAUSHALTE   Household
7        D19_KONSUMTYP_MAX_RZ   Household

In [35]:
diff_cols_remainder['information'].value_counts()

Household    7
Person       1
Name: information, dtype: int64

In [36]:
cols_to_keep_list = list(zip(diff_cols_remainder[diff_cols_remainder['information'] != 'UNDOCUMENTED']['information'],
                         diff_cols_remainder[diff_cols_remainder['information'] != 'UNDOCUMENTED']['col_name']))

In [37]:
new_rows.extend(cols_to_keep_list)

In [38]:
new_rows_frame = pd.DataFrame(new_rows, columns= ['Information level', 'Attribute'])

In [39]:
new_rows_frame

   Information level                    Attribute
0             Person            CJT_KATALOGNUTZER
1             Person                    CJT_TYP_1
2             Person                    CJT_TYP_2
3             Person                    CJT_TYP_3
4             Person                    CJT_TYP_4
5             Person                    CJT_TYP_5
6             Person                    CJT_TYP_6
7          Household            D19_BANKEN_ANZ_12
8          Household            D19_BANKEN_ANZ_24
9   125m x 125m Grid               D19_BUCH_CD_RZ
10         Household            D19_GESAMT_ANZ_12
11         Household            D19_GESAMT_ANZ_24
12  125m x 125m Grid  D19_LETZTER_KAUF_BRANCHE_RZ
13  125m x 125m Grid                 D19_LOTTO_RZ
14  125m x 125m Grid              D19_SOZIALES_RZ
15         Household             D19_TELKO_ANZ_12
16         Household             D19_TELKO_ANZ_24
17         Household    D19_TELKO_ONLINE_QUOTE_12
18         Household           D19_VERSAND_ANZ_12
19         Household           D19_VERSAND_ANZ_24
20         Household             D19_VERSI_ANZ_12
21         Household             D19_VERSI_ANZ_24
22         Household    D19_VERSI_ONLINE_QUOTE_12
23              PLZ8               KBA13_CCM_3000
24              PLZ8               KBA13_CCM_3001
25              PLZ8                KBA13_KMH_210
26            Person         ALTERSKATEGORIE_FEIN
27         Household                  ALTER_KIND1
28         Household                  ALTER_KIND2
29         Household                  ALTER_KIND3
30         Household                  ALTER_KIND4
31         Household                   ANZ_KINDER
32         Household   ANZ_STATISTISCHE_HAUSHALTE
33         Household         D19_KONSUMTYP_MAX_RZ

In [40]:
att_info.shape

(313, 2)

In [41]:
att_info_updated = pd.concat([att_info,new_rows_frame], axis = 0)

In [42]:
# Are the columns in the census table contained in the informations table?
np.setdiff1d(census.columns, att_info_updated['Attribute'])

array(['LNR'], dtype=object)

This is ok since this is the ID column

In [43]:
class_census_cols = np.intersect1d(census.columns, att_info_updated['Attribute'])

In [44]:
len(class_census_cols)

334

In [45]:
assert len(class_census_cols) == (census.shape[1] - 1) # -1 because of LNR col

In [46]:
col_classification = att_info_updated[att_info_updated['Attribute'].isin(class_census_cols)]

In [47]:
col_classification['Information level'].value_counts()

PLZ8                  116
Microcell (RR3_ID)     63
Person                 51
Household              45
125m x 125m Grid       36
Building                9
RR1_ID                  5
Microcell (RR4_ID)      3
Postcode                3
Community               3
Name: Information level, dtype: int64

# Exporting fixed docs

## Variable Groups

In [48]:
# att_info_updated.to_csv('data/trusted/var_group_list.csv', index = False)

## Col Dtypes

In [49]:
census_var_types['Type'].unique()

array(['nominal', 'interval', 'binary', 'numeric'], dtype=object)

In [50]:
dtype_map = {'nominal':'int',
                'interval':'int',
                'binary':'int',
                'numeric':'float'}

In [51]:
census_var_types['dtype'] = census_var_types['Type'].map(dtype_map)

In [52]:
census_var_types.head()

               Attribute      Type  dtype
0               AGER_TYP   nominal    int
5   ALTERSKATEGORIE_GROB  interval    int
11              ALTER_HH  interval    int
33             ANREDE_KZ    binary    int
36   ANZ_HAUSHALTE_AKTIV   numeric  float

In [53]:
census_var_types.loc[census_var_types['Attribute'] == 'D19_LETZTER_KAUF_BRANCHE_RZ','dtype'] = 'str'

In [54]:
# census_var_types.to_csv('data/trusted/var_type_list.csv', index = False)